@import url("https://completelyunbelievable.github.io/BDAddons/Themes/Jiiks/Import/Legacy.css");

.da-guildsWrapper {
	//--VSGpreventresizing: 1; /*This is for testing purposes only*/
	--VSGmeadiatorwidth: calc(50px * var(--VSGguildiconw));
	--VSGmeadiatorheight: calc(50px * var(--VSGguildiconh));
	--VSGwrapperwidth: calc(58px * var(--VSGcolumns, 1) * var(--VSGpreventresizing, var(--VSGguildiconw, 1)) + var(--VSGspacer, 0px) + 24px);
	--VSGmargincentering: calc((58px * var(--VSGcolumns, 1) * var(--VSGpreventresizing, var(--VSGguildiconw, 1)) + var(--VSGspacer, 0px) - 47px) / 2);
	--VSGaddfontsize: calc(40px * var(--VSGguildiconw, 1));
}

.da-guildsWrapper:hover {
	padding-left: var(--VSGnocollapsiblegrid, 0px);
	transition: var(--VSGnocollapsiblegrid, padding .75s ease 0s), var(--VSGnocompactgrid, width .95s ease);
}

.da-guildsWrapper:not(:hover) {
	padding-left: var(--VSGnocollapsiblegrid, 20px);
	width: var(--VSGnocollapsiblegrid, 0px);
	transition: var(--VSGnocollapsiblegrid, padding .75s ease .4s), var(--VSGnocompactgrid, width .95s ease);
}

#bd-pub-li {
	top: 8px;
}

.da-guilds .guild-1EfMGQ:not(:first-child):not(#bd-pub-li):not(#RANbutton-frame):not(.da-guildsAdd):hover, .da-guilds .guild-1EfMGQ:not(:first-child, #bd-pub-li):not(#RANbutton-frame):not(.da-guildsAdd) *:not(.da-badge):not(.da-guildsError):hover {
	height: var(--VSGnohovergrowth, calc(var(--VSGcolumns, 1) * var(--VSGmeadiatorheight, 50px)));
	width: var(--VSGnohovergrowth, calc(var(--VSGcolumns, 1) * var(--VSGmeadiatorwidth, 50px)));
	transition: var(--VSGnohovergrowth, width 0.5s ease), var(--VSGnohovergrowth, height 0.5s ease);
}

.da-guildsWrapper, .da-guildsWrapper .da-scrollerWrap {
	width: var(--VSGwrapperwidth, 52px);
}

.da-guilds .guild-1EfMGQ:not(:first-child):not(#bd-pub-li):not(#RANbutton-frame):not(.da-guildsAdd), .da-guilds .guild-1EfMGQ:not(:first-child):not(#bd-pub-li):not(#RANbutton-frame):not(.da-guildsAdd) *:not(.da-badge):not(.da-guildsError) {
	width: var(--VSGmeadiatorwidth, 50px);
	height: var(--VSGmeadiatorheight, 50px);
	font-size: calc(18px * var(--VSGguildiconh, 1)) !important; /*required*/
	line-height: var(--VSGmeadiatorheight, 50px);
	//border-radius: var(--VSGguildborderradius, 50%);
	transition: var(--VSGnohovergrowth, width 0.5s ease 0.5s), var(--VSGnohovergrowth, height 0.5s ease 0.5s);
}

.guilds-1q_RqH .da-guildsError {
	width: var(--VSGmeadiatorwidth, 50px);
	height: var(--VSGmeadiatorheight, 50px);
	font-size: calc(18px * var(--VSGguildiconh, 1)); /*required*/
	line-height: var(--VSGmeadiatorheight, 50px);
}

.da-guildsWrapper .guilds-1q_RqH .guild-1EfMGQ:first-child { 
	position: relative;
	margin: 0px var(--VSGmargincentering, auto) 0px var(--VSGmargincentering, auto);
}

#app-mount .da-guildsWrapper .selected-ML3OIq:before {
	position: absolute;
	left: 0px;
	top: 33px;
	background: var(--VSGindicatorcolor, #7289da);
	z-index: 9000;
	width: calc(5px * var(--VSGguildiconw, 1));
	height: calc(50px * (var(--VSGguildiconh, 0) - 1) + 25px);
}

.da-guildsWrapper .guilds-1q_RqH .unread-qLkInr:not(.selected-ML3OIq)::before {
	position: absolute;
	left: 0px;
	top: 7px;
	z-index: 9000;
	background: var(--VSGindicatorcolor, #7289da);
	width: calc(12px * var(--VSGguildiconw, 1));
	height: calc(12px * var(--VSGguildiconh, 1));
	border-radius: 100%;
}

#RANbutton-frame {
	margin: -8px auto auto auto;
}

#gc-counter {
	margin: 18px auto 0 auto;
}

.guilds-1q_RqH > :not(.da-dms) .da-badge {
	box-sizing: border-box;
	display: table-cell;
	height: calc(16px * var(--VSGguildiconh, 1));
	font-size: calc(12px * var(--VSGguildiconw, 1));
	line-height: calc(14px * var(--VSGguildiconh, 1));
	//top: calc(-50px * var(--VSGguildiconh, 1));
	bottom: calc(15px * var(--VSGguildiconh, 1));
	left: 0px;
	position: relative;
	padding: calc(2px * var(--VSGguildiconh, 1)) calc(4px * var(--VSGguildiconw, 1)) calc(2px * var(--VSGguildiconh, 1)) calc(4px * var(--VSGguildiconw, 1));
	background-color: var(--VSGalertscolor, #f04747);
	text-align: center;
	vertical-align: middle;
}

.guilds-1q_RqH > .da-dms .da-badge {
	background-color: var(--VSGalertscolor, #f04747);
	left: 0px;
	right: initial;
}

.da-appMount .guild-1EfMGQ.audio-3vVhBi .da-guildInner::after {
	top: 2px;
	right: -2px;
	background-color: transparent;
}

.da-guildsWrapper .da-scroller {
	padding-right: 14px;
}

.da-guildsAdd span.da-guildsAddInner {
	font-size: var(--VSGaddfontsize, 40px);
	position: relative;
	left: -1px;
	top: -1px;
	height: var(--VSGmeadiatorheight, 50px);
	width: var(--VSGmeadiatorwidth, 50px);
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column wrap;
}

.da-appMount .da-guildsWrapper .guilds-1q_RqH .da-guildsAdd {
	width: var(--VSGmeadiatorwidth, 50px);
	height: var(--VSGmeadiatorheight, 50px);
	//border-radius: var(--VSGguildborderradius, 50%);
	left: -3px;
	box-sizing: border-box;
	position: static;
	margin: 4px 4px 4px 4px;
}

.guilds-1q_RqH .guild-1EfMGQ:not(:first-child):not(#bd-pub-li):not(#RANbutton-frame):not(.da-guildsAdd) {
	//padding: 4px 4px 4px 4px;
}

/*Read all button alligns correctly.*/
#RANbutton-frame.da-guild {
	margin: auto;
}

.da-guildsWrapper .guilds-1q_RqH {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	padding: 10px 10px 10px 10px;
}

.da-guildsWrapper .guilds-1q_RqH .guild-1EfMGQ:first-child.selected-ML3OIq:before { 
	display: none;
}

.da-guildsWrapper .guilds-1q_RqH .da-guildSeparator {
	position: relative;
	width: 100%;
	margin-top: 0px;
}

.da-guildsWrapper .guilds-1q_RqH .da-friendsOnline {
	top: 12px;
	position: relative;
	width: 100%;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.da-guildsWrapper .guilds-1q_RqH .guild-1EfMGQ {
	position: relative;
}

.da-guildsWrapper .guilds-1q_RqH .da-dms {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.da-guildsWrapper .guilds-1q_RqH .da-dms .da-guild {
	left: 0;
	top: 2px;
	margin-bottom: 8px;
}

/*removes scrollbar.*/

.da-appMount .da-guildsWrapper .scroller-wrap .scroller::-webkit-scrollbar {
	width: 0px; /*14*/
}

.da-appMount .da-guildsWrapper .da-scroller::-webkit-scrollbar-thumb {
	background-color: transparent; /*#202225*/
	border-color: transparent; /*#36393f*/
}

.da-appMount .da-guildsWrapper .da-scroller::-webkit-scrollbar-track-piece {
	background-color: transparent; /*#2f3136*/
	border-color: transparent; /*#36393f*/
	border-radius: 0px; /*7px*/
}
/*End of scrollbar fix.*/

.da-appMount .guild-1EfMGQ+.guild-1EfMGQ {
	margin: auto;
}

.da-appMount .guild-1EfMGQ+.guild-1EfMGQ:not(#bd-pub-li) {
	margin: 4px auto 4px auto;
}
