.wrapper-1Rf91z {
	//--VSGpreventresizing: 1; /*This is for testing purposes only*/
	--VSGmeadiatorwidth: calc(50px * var(--VSGguildiconw));
	--VSGmeadiatorheight: calc(50px * var(--VSGguildiconh));
	--VSGwrapperwidth: calc(58px * var(--VSGcolumns, 1) * var(--VSGpreventresizing, var(--VSGguildiconw, 1)) + var(--VSGspacer, 0px) + 24px);
	--VSGmargincentering: calc((58px * var(--VSGcolumns, 1) * var(--VSGpreventresizing, var(--VSGguildiconw, 1)) + var(--VSGspacer, 0px) - 47px) / 2);
	--VSGaddfontsize: calc(40px * var(--VSGguildiconw, 1));
}

.wrapper-1Rf91z:hover {
	padding-left: var(--VSGnocollapsiblegrid, 0px);
	transition: var(--VSGnocollapsiblegrid, padding .75s ease 0s), var(--VSGnocompactgrid, width .95s ease);
}

.wrapper-1Rf91z:not(:hover) {
	padding-left: var(--VSGnocollapsiblegrid, 20px);
	width: var(--VSGnocollapsiblegrid, 0px);
	transition: var(--VSGnocollapsiblegrid, padding .75s ease .4s), var(--VSGnocompactgrid, width .95s ease);
}

.wrapper-1Rf91z #bd-pub-li {
	top: 8px;
	position: unset;
	margin: 0px var(--VSGmargincentering, auto) 0px var(--VSGmargincentering, auto) !important;
}

.wrapper-1Rf91z .da-container[style="opacity: 1;height: 60px;transform: scale(1);"]{
	margin: 0px var(--VSGmargincentering, auto) 0px var(--VSGmargincentering, auto);
}

.wrapper-1Rf91z .da-container[style="opacity: 1;height: 60px;transform: scale(1);"] .da-badge{
	top:-14px;
}

.wrapper-1Rf91z .scroller-2TZvBN .da-container:not(:first-child):not(#bd-pub-li):not(#RANbutton-frame):not(:last-child):hover, .wrapper-1Rf91z .scroller-2TZvBN .da-container:not(:first-child, #bd-pub-li):not(#RANbutton-frame) *:not(.da-badge):not(.da-guildsError):not(svg):not(g):not(path):not(.da-circleIconButton):hover {
	height: var(--VSGnohovergrowth, calc(var(--VSGcolumns, 1) * var(--VSGmeadiatorheight, 50px)));
	width: var(--VSGnohovergrowth, calc(var(--VSGcolumns, 1) * var(--VSGmeadiatorwidth, 50px)));
	transition: var(--VSGnohovergrowth, width 0.5s ease), var(--VSGnohovergrowth, height 0.5s ease);
}

.wrapper-1Rf91z, .wrapper-1Rf91z .da-scrollerWrap {
	width: var(--VSGwrapperwidth, 52px);
}

.wrapper-1Rf91z .scroller-2TZvBN .da-container:not(:first-child):not(#bd-pub-li):not(#RANbutton-frame):not(:last-child), .wrapper-1Rf91z .scroller-2TZvBN .da-container:not(:first-child):not(#bd-pub-li):not(#RANbutton-frame) *:not(.da-badge):not(.da-guildsError):not(svg):not(g):not(path):not(.da-circleIconButton) {
	width: var(--VSGmeadiatorwidth, 50px);
	height: var(--VSGmeadiatorheight, 50px);
	font-size: calc(18px * var(--VSGguildiconh, 1)) !important; /*required*/
	line-height: var(--VSGmeadiatorheight, 50px);
	//border-radius: var(--VSGguildborderradius, 50%);
	transition: var(--VSGnohovergrowth, width 0.5s ease 0.5s), var(--VSGnohovergrowth, height 0.5s ease 0.5s);
}

.wrapper-1Rf91z .scroller-2TZvBN .da-guildsError {
	width: var(--VSGmeadiatorwidth, 50px);
	height: var(--VSGmeadiatorheight, 50px);
	font-size: calc(18px * var(--VSGguildiconh, 1)); /*required*/
	line-height: var(--VSGmeadiatorheight, 50px);
}

.wrapper-1Rf91z .scroller-2TZvBN .da-container:first-child { 
	position: relative;
	margin: 0px var(--VSGmargincentering, auto) 0px var(--VSGmargincentering, auto);
}

.wrapper-1Rf91z .da-selected::before {
	position: absolute;
	left: 0px;
	top: 33px;
	background: var(--VSGindicatorcolor, #7289da);
	z-index: 1;
	width: calc(5px * var(--VSGguildiconw, 1));
	height: calc(50px * (var(--VSGguildiconh, 0) - 1) + 25px);
}

.wrapper-1Rf91z .scroller-2TZvBN .da-unread:not(.da-selected)::before {
	position: absolute;
	left: 0px;
	top: 7px;
	z-index: 1;
	background: var(--VSGindicatorcolor, #7289da);
	width: calc(12px * var(--VSGguildiconw, 1));
	height: calc(12px * var(--VSGguildiconh, 1));
	border-radius: 100%;
}

.wrapper-1Rf91z #gc-counter {
	margin: 18px auto 0 auto;
}

.wrapper-1Rf91z .scroller-2TZvBN > :not(.da-dms) .da-badge {
	box-sizing: border-box;
	display: table-cell;
	height: calc(16px * var(--VSGguildiconh, 1));
	font-size: calc(12px * var(--VSGguildiconw, 1));
	line-height: calc(14px * var(--VSGguildiconh, 1));
	//top: calc(-50px * var(--VSGguildiconh, 1));
	bottom: calc(15px * var(--VSGguildiconh, 1));
	left: 0px;
	position: relative;
	padding: calc(2px * var(--VSGguildiconh, 1)) calc(4px * var(--VSGguildiconw, 1)) calc(2px * var(--VSGguildiconh, 1)) calc(4px * var(--VSGguildiconw, 1));
	background-color: var(--VSGalertscolor, #f04747);
	text-align: center;
	vertical-align: middle;
}

.wrapper-1Rf91z .scroller-2TZvBN > .da-dms .da-badge {
	background-color: var(--VSGalertscolor, #f04747);
	left: 0px;
	right: initial;
}

.wrapper-1Rf91z .da-container.da-audio .wrapper-2lTRaf::after {
	top: 2px;
	right: -2px;
	background-color: transparent;
}

.wrapper-1Rf91z .da-scroller {
	padding-right: 14px;
}

.wrapper-1Rf91z .da-circleIconButton .da-plus {
	font-size: var(--VSGaddfontsize, 40px);
	position: relative;
	left: -1px;
	top: -1px;
	height: var(--VSGmeadiatorheight, 50px);
	width: var(--VSGmeadiatorwidth, 50px);
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column wrap;
}

.wrapper-1Rf91z .da-container:last-child, .wrapper-1Rf91z .scroller-2FKFPG > div:not(.da-container):not(.da-friendsOnline):not(.da-guildSeparator):not(.da-container) {
	width: var(--VSGmeadiatorwidth, 50px);
	height: var(--VSGmeadiatorheight, 50px);
	margin: 4px auto 4px auto;
	justify-content: center;
	align-content: center;
	position: relative;
	display: grid;
}

.wrapper-1Rf91z .da-container svg[name="Search"] {
	width: calc(24px * var(--VSGguildiconw));
	height: calc(24px * var(--VSGguildiconh));
}

.wrapper-1Rf91z .scroller-2TZvBN .da-circleIconButton {
	width: var(--VSGmeadiatorwidth, 50px);
	height: var(--VSGmeadiatorheight, 50px);
	//border-radius: var(--VSGguildborderradius, 50%);
	left: -3px;
	box-sizing: border-box;
	position: static;
	margin: 4px 4px 4px 4px;
}

/*Read all button alligns correctly.*/
.wrapper-1Rf91z .RANbutton-frame.da-container {
	position: relative;
	margin: auto auto 5px auto;
}

.wrapper-1Rf91z .scroller-2TZvBN {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	padding: 10px 10px 10px 10px;
}

.wrapper-1Rf91z .scroller-2TZvBN .da-container:first-child.da-selected::before { 
	display: none;
}

.wrapper-1Rf91z .scroller-2TZvBN .da-guildSeparator {
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.wrapper-1Rf91z .scroller-2TZvBN .da-friendsOnline {
	top: 6px;
	position: relative;
	width: 100%;
	margin: auto auto 10px auto;
}

.wrapper-1Rf91z .scroller-2TZvBN .da-container {
	position: relative;
}

.wrapper-1Rf91z .scroller-2TZvBN .da-dms {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.wrapper-1Rf91z .scroller-2TZvBN .da-dms .da-container {
	left: 0;
	top: 2px;
	margin-bottom: 8px;
}

/*removes scrollbar.*/
.wrapper-1Rf91z .da-scrollerWrap .da-scroller::-webkit-scrollbar {
	width: 0px; /*14*/
}

.wrapper-1Rf91z .da-scroller::-webkit-scrollbar-thumb {
	background-color: transparent; /*#202225*/
	border-color: transparent; /*#36393f*/
}

.wrapper-1Rf91z .da-scroller::-webkit-scrollbar-track-piece {
	background-color: transparent; /*#2f3136*/
	border-color: transparent; /*#36393f*/
	border-radius: 0px; /*7px*/
}
/*End of scrollbar fix.*/

.wrapper-1Rf91z .da-container+.da-container, .wrapper-1Rf91z .da-guildSeparator+.da-container {
	margin: auto;
}

.wrapper-1Rf91z .da-container+.da-container:not(#bd-pub-li), .wrapper-1Rf91z .da-guildSeparator+.da-container {
	margin: 4px auto 4px auto;
}
