@charset "UTF-8";

body .da-appMount {
	background-color: transparent;
}

.da-appMount .da-titleBar {
	padding-top: 4px;
	margin-top: 0;
	background-color: transparent;
}

.app {
	margin-top: -22px;
	background-repeat: no-repeat;
}

.app::before {
	content: '';
	padding-top: 22px;
}

.app.theme-dark::before {
	background: var(--TQDarkTitlebarColor, var(--TQFallbackColor, transparent));
}

.app.theme-light::before {
	background: var(--TQLightTitlebarColor, var(--TQFallbackColor, transparent));
}

.app.theme-dark {
	background: var(--TQDarkBackground, var(--TQFallbackColor, transparent));
	background-size: var(--TQBackgroundFill, 100% 100%);
}

.app.theme-light {
	background: var(--TQLightBackground, var(--TQFallbackColor, transparent));
	background-size: var(--TQBackgroundFill, 100% 100%);
}

.da-appMount .da-userSettingsAccount div:nth-child(2) >div:nth-child(2) >.da-viewBody:not(:hover) {
	transition: filter 0.3s;
	filter: blur(6px);
}

.da-appMount .da-userSettingsAccount div:nth-child(2) >div:nth-child(2) >.da-viewBody:hover {
	transition: filter 0.3s;
	filter: none;
}

#app-mount .da-layers {
	background: var(--TQdim, transparent);
	background-size: var(--TQBackgroundFill, 100% 100%);
}

#app-mount .tilePopoutContainer-1vD21T .tileWrapper-2khh-w, #app-mount .whyYouMightLikeIt-2zZIIj, #app-mount .purchaseUnit-2lxci3 .bodySection-jqkkIP, #app-mount .features-_IOqVv .row-1bU71H {
	background-color: var(--TQcardDim, transparent);
}

#app-mount .systemRequirements-1L5nPd {
	background-color: var(--TQcardDim, transparent);
	border-radius: 3px;
	padding: 20px 20px 0;
}

#app-mount .da-activityFeed {
	background-color: transparent;
}

#app-mount .da-messagesWrapper, #app-mount .da-messagesWrapper +form {
	background-color: transparent;
}

#app-mount .da-chat, #app-mount .da-chat form, #app-mount .da-content {
	background-color: transparent;
}

#app-mount .da-chat >.da-content {
	background-color: transparent;
}

#app-mount .da-chat {
	background-color: transparent;
}

#app-mount .channels-Ie2l6A {
	background-color: transparent;
}

#app-mount .guildsWrapper-5TJh6A {
	background-color: transparent;
}

#app-mount .da-layers .da-container {
	background-color: transparent;
}

#app-mount .da-layers >.layer-3QrUeG {
	background: transparent;
}

#app-mount .da-uiStandardSidebarView .da-contentRegion {
	background: transparent;
}

#app-mount .da-uiStandardSidebarView .da-sidebarRegion {
	background: transparent;
}

#app-mount .da-uiStandardSidebarView {
	background: transparent;
}

#app-mount .da-title {
	background: transparent;
}

#app-mount .channels-Ie2l6A .da-container {
	background-color: transparent;
}

#app-mount .da-chat form {
	background-color: transparent;
}

#app-mount #friends .da-headerBar {
	background: transparent;
}

#app-mount #friends {
	background-color: transparent;
}

#app-mount .da-membersWrap .da-members, #app-mount .membersWrap-2h-GB4 .members-1998pB {
	background-color: transparent;
}

#app-mount .da-typing, #app-mount .typing-2GQL18 {
	background: transparent;
}

#app-mount .guildsWrapper-5TJh6A .da-guildsAdd {
	background: transparent;
}

#app-mount .da-gameLibrary, #app-mount .da-gameLibrary .da-headerBar, .da-activityFeed .da-headerBar {
	background-color: transparent;
}

#app-mount .da-layers .chat-3bRxxu {
	background-color: transparent;
}

#app-mount .guildsWrapper-5TJh6A .da-guilds .da-guildInner {
	background: transparent !important;
}

#app-mount .da-card .da-header, #app-mount .da-activityFeed, #app-mount .da-card .da-cardHeader, #app-mount .da-card {
	background: transparent;
}

#app-mount .applicationStore-1pNvnv, #app-mount .homeWrapper-3-Wh5T .headerBar-UHpsPw, #app-mount .applicationStore-1pNvnv .headerBar-UHpsPw {
	background-color: transparent;
}

#app-mount #pubslayerroot .layer-3QrUeG {
	background-color: transparent;
}
