@charset "UTF-8";

body .da-appMount {
	background-color: transparent;
}

.da-appMount .da-titleBar {
	padding-top: 4px;
	margin-top: 0;
	background-color: transparent;
}

.app {
	margin-top: -22px;
	background-repeat: no-repeat;
}

.app::before {
	content: '';
	padding-top: 22px;
}

.app.theme-dark::before {
	background: var(--TQDarkTitlebarColor, var(--TQFallbackColor, transparent));
}

.app.theme-light::before {
	background: var(--TQLightTitlebarColor, var(--TQFallbackColor, transparent));
}

.app.theme-dark {
	background: var(--TQDarkBackground, var(--TQFallbackColor, transparent));
	background-size: var(--TQBackgroundFill, 100% 100%);
}

.app.theme-light {
	background: var(--TQLightBackground, var(--TQFallbackColor, transparent));
	background-size: var(--TQBackgroundFill, 100% 100%);
}

.da-appMount .da-userSettingsAccount div:nth-child(2) >div:nth-child(2) >.da-viewBody:not(:hover) {
	transition: filter 0.3s;
	filter: blur(6px);
}

.da-appMount .da-userSettingsAccount div:nth-child(2) >div:nth-child(2) >.da-viewBody:hover {
	transition: filter 0.3s;
	filter: none;
}

.theme-light .da-layers {
	background: var(--TQdim, transparent);
	background-size: var(--TQBackgroundFill, 100% 100%);
}

.theme-light .tilePopoutContainer-1vD21T .tileWrapper-2khh-w, .theme-light .whyYouMightLikeIt-2zZIIj, .theme-light .purchaseUnit-2lxci3 .bodySection-jqkkIP, .theme-light .features-_IOqVv .row-1bU71H {
	background-color: var(--TQcardDim, transparent);
}

.theme-light .systemRequirements-1L5nPd {
	background-color: var(--TQcardDim, transparent);
	border-radius: 3px;
	padding: 20px 20px 0;
}

.theme-light .da-activityFeed {
	background-color: transparent;
}

.theme-light .da-messagesWrapper, .theme-light .da-messagesWrapper +form {
	background-color: transparent;
}

.theme-light .da-chat, .theme-light .da-chat form, .theme-light .da-content {
	background-color: transparent;
}

.theme-light .da-chat >.da-content {
	background-color: transparent;
}

.theme-light .da-chat {
	background-color: transparent;
}

.theme-light .channels-Ie2l6A {
	background-color: transparent;
}

.theme-light .guildsWrapper-5TJh6A {
	background-color: transparent;
}

.theme-light .da-layers .da-container {
	background-color: transparent;
}

.theme-light .da-layers >.layer-3QrUeG {
	background: transparent;
}

.theme-light .contentRegion-3nDuYy {
	background: transparent;
}

.theme-light .sidebarRegion-VFTUkN {
	background: transparent;
}

.theme-light .standardSidebarView-3F1I7i {
	background: transparent;
}

.theme-light .da-title {
	background: transparent;
}

.theme-light .channels-Ie2l6A .da-container {
	background-color: transparent;
}

.theme-light .da-chat form {
	background-color: transparent;
}

.theme-light #friends .da-headerBar {
	background: transparent;
}

.theme-light #friends {
	background-color: transparent;
}

.theme-light .da-membersWrap .da-members, .theme-light .membersWrap-2h-GB4 .members-1998pB {
	background-color: transparent;
}

.theme-light .da-typing, .theme-light .typing-2GQL18 {
	background: transparent;
}

.theme-light .guildsWrapper-5TJh6A .da-guildsAdd {
	background: transparent;
}

.theme-light .da-gameLibrary, .theme-light .da-gameLibrary .da-headerBar, .da-activityFeed .da-headerBar {
	background-color: transparent;
}

.theme-light .da-layers .chat-3bRxxu {
	background-color: transparent;
}

.theme-light .guildsWrapper-5TJh6A .da-guilds .da-guildInner {
	background: transparent !important;
}

.theme-light .da-card .da-header, .theme-light .da-activityFeed, .theme-light .da-card .da-cardHeader, .theme-light .da-card {
	background: transparent;
}

.theme-light .applicationStore-1pNvnv, .theme-light .homeWrapper-3-Wh5T .headerBar-UHpsPw, .theme-light .applicationStore-1pNvnv .headerBar-UHpsPw {
	background-color: transparent;
}

.theme-light #pubslayerroot .layer-3QrUeG {
	background-color: transparent;
}
