//META{"name":"RemasteredCodeBlockLangIdentifier","description":"Describes the language highlighing of codeblocks. Based on and named after a deleted theme by intrnl that serves a similar purpose.","author":"CompletelyUnbelievable","version":"Live","source":"https://github.com/CompletelyUnbelievable/BDAddons/tree/master/Themes/intrnl","website":"https://git.io/vhWjm"}*//
@import url("https://completelyunbelievable.github.io/BDAddons/Themes/intrnl/Import/RemasteredCodeBlockLangIdentifier.css");
@import url("https://completelyunbelievable.github.io/BDAddons/Themes/intrnl/Import/Legacy.css");

code.hljs::before {
	content: var(--CBILanguage);
	pointer-events: none;
	display: block;
	margin: 0 0 10px 0;
	padding: 0 0 2px 0;
	font-family: inherit, 'Whitney', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	border-bottom: 2px solid rgba(32,34,37,.3);
	color: #b58900;
}
