//META{"name":"HideItAll","description":"A theme dedicated to hiding as much as possible from prying eyes while perserving the usability of discord.","author":"CompletelyUnbelievable","version":"Alpha"}*//

@import url("https://completelyunbelievable.github.io/HideItAll/Import/HideItAll.css");
