@charset "UTF-8";

body .da-appMount {
	background-color: transparent;
}

/*Fixes the sizing of the titlebar as well as sets it's background color transparent so we can change the background color with dark/light theme selectors.*/
.da-appMount .da-titleBar {
	padding-top: 4px;
	margin-top: 0px;
	background-color: transparent;
}

/*Allows background images to extend behind the titlebar and sets up declarations for the background images*/
.app-2rEoOp {
	margin-top: -22px;
	background-repeat: no-repeat;
}

/*Allows background images to extend behind the titlebar.*/
.app-2rEoOp::before {
	content: '';
	padding-top: 22px;
}

/*Sets the background color of the titlebar in dark theme.*/
.app-2rEoOp.theme-dark::before {
	background: var(--TQDarkTitlebarColor, var(--TQFallbackColor, transparent));
}

/*Sets the background color of the titlebar in light theme.*/
.app-2rEoOp.theme-light::before {
	background: var(--TQLightTitlebarColor, var(--TQFallbackColor, transparent));
}

/*Sets the background image of the discord window in dark theme.*/
.app-2rEoOp.theme-dark {
	background: var(--TQDarkBackground, var(--TQFallbackColor, transparent));
	background-size: var(--TQBackgroundFill, 100% 100%);
}

/*Sets the background image of the discord window in light theme.*/
.app-2rEoOp.theme-light {
	background: var(--TQLightBackground, var(--TQFallbackColor, transparent));
	background-size: var(--TQBackgroundFill, 100% 100%);
}

/*Email Blur.*/
.da-appMount .da-userSettingsAccount div:nth-child(2) > div:nth-child(2) > .da-viewBody:not(:hover) {
	transition: filter 0.3s;
	filter: blur(6px);
}

.da-appMount .da-userSettingsAccount div:nth-child(2) > div:nth-child(2) > .da-viewBody:hover {
	transition: filter 0.3s;
	filter: none;
}
/*End of Email blur.*/

/*Sets the dim*/
#app-mount .da-layers {
	background: var(--TQdim, transparent);
	background-size: var(--TQBackgroundFill, 100% 100%);
}

#app-mount .tilePopoutContainer-1vD21T .tileWrapper-2khh-w, #app-mount .whyYouMightLikeIt-2zZIIj, #app-mount .purchaseUnit-2lxci3 .bodySection-jqkkIP, #app-mount .features-_IOqVv .row-1bU71H {
	background-color: var(--TQcardDim, transparent);
}

#app-mount .systemRequirements-1L5nPd {
	background-color: var(--TQcardDim, transparent);
	border-radius: 3px;
	padding: 20px 20px 0;
}

#app-mount .da-activityFeed {
	background-color: transparent;
}

#app-mount .da-messagesWrapper, #app-mount .da-messagesWrapper + form {
	background-color: transparent;
}

#app-mount .da-chat, #app-mount .da-chat form, #app-mount .da-content {
	background-color: transparent;
}

#app-mount .da-chat>.da-content {
	background-color: transparent;
}

#app-mount .da-chat {
	background-color: transparent;
}

#app-mount .channels-Ie2l6A {
	background-color: transparent;
}

#app-mount .guildsWrapper-5TJh6A {
	background-color: transparent;
}

#app-mount .da-layers .da-container {
	background-color: transparent;
}

#app-mount .da-layers > .layer-3QrUeG {
	background: transparent;
}

#app-mount .contentRegion-3nDuYy {
	background: transparent;
}

#app-mount .sidebarRegion-VFTUkN {
	background: transparent;
}

#app-mount .standardSidebarView-3F1I7i {
	background: transparent;
}

#app-mount .da-title {
	background: transparent;
}

#app-mount .channels-Ie2l6A .da-container {
	background-color: transparent;
}

#app-mount .da-chat form {
	background-color: transparent;
}

#app-mount #friends .da-headerBar {
	background: transparent;
}

#app-mount #friends {
	background-color: transparent;
}

#app-mount .da-membersWrap .da-members, #app-mount .membersWrap-2h-GB4 .members-1998pB {
	background-color: transparent;
}

#app-mount .da-typing, #app-mount .typing-2GQL18 {
		background: transparent;
}

#app-mount .guildsWrapper-5TJh6A .da-guildsAdd {
	background: transparent;
}

#app-mount .da-gameLibrary, #app-mount .da-gameLibrary .da-headerBar, .da-activityFeed .da-headerBar {
	background-color: transparent;
}

#app-mount .da-layers .chat-3bRxxu {
	background-color: transparent;
}

/*Important tags and pseudo elements/classes from here on:*/
#app-mount .guildsWrapper-5TJh6A .da-guilds .da-guildInner {
	background: transparent !important;
}

#app-mount .da-card .da-header, #app-mount .da-activityFeed, #app-mount .da-card .da-cardHeader, #app-mount .da-card {
	background: transparent;
}

#app-mount .app-2rEoOplicationStore-1pNvnv, #app-mount .homeWrapper-3-Wh5T .headerBar-UHpsPw, #app-mount .app-2rEoOplicationStore-1pNvnv .headerBar-UHpsPw {
	background-color: transparent;
}

#app-mount #pubslayerroot .layer-3QrUeG {
	background-color: transparent;
}
