#app-mount .da-activityFeed {
	background-color: transparent;
}

#app-mount .da-messagesWrapper, #app-mount .da-messagesWrapper + form {
	background-color: transparent;
}

#app-mount .da-chat, #app-mount .da-chat form, #app-mount .da-content {
	background-color: transparent;
}

#app-mount .da-chat>.da-content {
	background-color: transparent;
}

#app-mount .da-chat {
	background-color: transparent;
}

#app-mount .channels-Ie2l6A {
	background-color: transparent;
}

#app-mount .guildsWrapper-5TJh6A {
	background-color: transparent;
}

#app-mount .da-layers .da-container {
	background-color: transparent;
}

#app-mount .da-layers > .layer-3QrUeG {
	background: transparent;
}

#app-mount .contentRegion-3nDuYy {
	background: transparent;
}

#app-mount .sidebarRegion-VFTUkN {
	background: transparent;
}

#app-mount .standardSidebarView-3F1I7i {
	background: transparent;
}

#app-mount .da-title {
	background: transparent;
}

#app-mount .channels-Ie2l6A .da-container {
	background-color: transparent;
}

#app-mount .da-chat form {
	background-color: transparent;
}

#app-mount #friends .da-headerBar {
	background: transparent;
}

#app-mount #friends {
	background-color: transparent;
}

#app-mount .da-membersWrap .da-members, #app-mount .membersWrap-2h-GB4 .members-1998pB {
	background-color: transparent;
}

#app-mount .da-typing, #app-mount .typing-2GQL18 {
	background: transparent;
}

#app-mount .guildsWrapper-5TJh6A .da-guildsAdd {
	background: transparent;
}

#app-mount .da-gameLibrary, #app-mount .da-gameLibrary .da-headerBar, .da-activityFeed .da-headerBar {
	background-color: transparent;
}

#app-mount .da-layers .chat-3bRxxu {
	background-color: transparent;
}

#app-mount .guildsWrapper-5TJh6A .da-guilds .da-guildInner {
	background: transparent;
}

#app-mount .da-card .da-header, #app-mount .da-activityFeed, #app-mount .da-card .da-cardHeader, #app-mount .da-card {
	background: transparent;
}

#app-mount .applicationStore-1pNvnv, #app-mount .homeWrapper-3-Wh5T .headerBar-UHpsPw, #app-mount .applicationStore-1pNvnv .headerBar-UHpsPw {
	background-color: transparent;
}

#app-mount #pubslayerroot .layer-3QrUeG {
	background-color: transparent;
}
