@charset "UTF-8";

body .da-appMount {
	background-color: transparent;
}

/*Fixes the sizing of the titlebar as well as sets it's background color transparent so we can change the background color with dark/light theme selectors.*/
.da-appMount .da-titleBar {
	padding-top: 4px;
	margin-top: 0px;
	background-color: transparent;
}

/*Allows background images to extend behind the titlebar and sets up declarations for the background images*/
.app {
	margin-top: -22px;
	background-repeat: no-repeat;
}

/*Allows background images to extend behind the titlebar.*/
.app::before {
	content: '';
	padding-top: 22px;
}

/*Sets the background color of the titlebar in dark theme.*/
.app.theme-dark::before {
	background: var(--TQDarkTitlebarColor, var(--TQFallbackColor, transparent));
}

/*Sets the background color of the titlebar in light theme.*/
.app.theme-light::before {
	background: var(--TQLightTitlebarColor, var(--TQFallbackColor, transparent));
}

/*Sets the background image of the discord window in dark theme.*/
.app.theme-dark {
	background: var(--TQDarkBackground, var(--TQFallbackColor, transparent));
	background-size: var(--TQBackgroundFill, 100% 100%);
}

/*Sets the background image of the discord window in light theme.*/
.app.theme-light {
	background: var(--TQLightBackground, var(--TQFallbackColor, transparent));
	background-size: var(--TQBackgroundFill, 100% 100%);
}

/*Email Blur.*/
.da-appMount .da-userSettingsAccount div:nth-child(2) > div:nth-child(2) > .da-viewBody:not(:hover) {
	transition: filter 0.3s;
	filter: blur(6px);
}

.da-appMount .da-userSettingsAccount div:nth-child(2) > div:nth-child(2) > .da-viewBody:hover {
	transition: filter 0.3s;
	filter: none;
}
/*End of Email blur.*/

/*Sets the dim*/
#app-mount .da-layers {
	background: var(--TQdim, transparent);
	background-size: var(--TQBackgroundFill, 100% 100%);
}

#app-mount .tilePopoutContainer-1vD21T .tileWrapper-2khh-w, #app-mount .whyYouMightLikeIt-2zZIIj, #app-mount .purchaseUnit-2lxci3 .bodySection-jqkkIP, #app-mount .features-_IOqVv .row-1bU71H {
	background-color: var(--TQcardDim, transparent);
}

#app-mount .systemRequirements-1L5nPd {
	background-color: var(--TQcardDim, transparent);
	border-radius: 3px;
	padding: 20px 20px 0;
}
