//META{"name":"HollywoodUndead","description":"A hollywood undead theme. Updates Automatically when the GitHub page is updated.","author":"CompletelyUnbelievable","version":"1.0","source":"https://github.com/CompletelyUnbelievable/BDAddons/tree/master/Themes/HollywoodUndead","website":"https://git.io/vhWjm"}*//

@import url("https://completelyunbelievable.github.io/BDAddons/Themes/TransparencyQuick/Import/TransparencyQuickDark.css");
@import url("https://completelyunbelievable.github.io/BDAddons/Themes/HollywoodUndead/Import/HollywoodUndead.css");

/*Background image and titlebar color.*/
:root {
	--TQDarkBackground: url(https://raw.githubusercontent.com/CompletelyUnbelievable/BDAddons/master/Themes/HollywoodUndead/Import/Images/HU.png);
	--TQDarkTitlebarColor: #202225;
	--TQLightTitlebarColor: #202225;
	--TQLightTitle: 'Anti-Light';
	--TQDarkTitle: 'HollywoodUndead';
	--TQBackgroundFill: cover;
}
