//META{"name":"VariableServerGrid","description":"A theme based on Jikks' ServerGrid. Allows the user to set the number of columns in the CSS file.","author":"CompletelyUnbelievable","version":"Live","source":"https://github.com/CompletelyUnbelievable/BDAddons/tree/master/Themes/Jiiks","website":"https://git.io/vhWjm"}*//
@import url("https://completelyunbelievable.github.io/BDAddons/Themes/Jiiks/Import/VariableServerGrid.css");
@import url("https://completelyunbelievable.github.io/BDAddons/Themes/Jiiks/Import/Legacy.css");

:root {
	--VSGcolumns: 2; /*2*/
	--VSGspacer: 0px; /*0px*/
	--VSGindicatorcolor: #7289da; /*#7289da*/
	--VSGalertscolor: #f04747; /*#f04747*/
	--VSGguildiconw: 1; /*1*/
	--VSGguildiconh: 1; /*1*/
	--VSGnocollapsiblegrid: 1; /*1*/
	--VSGnohovergrowth: 1; /*1*/
	//--VSGguildborderradius: 25px; /*50% or 25px, broken for now.*/
}
