//META{"name":"VariableServerGrid","description":"A theme based on Jikks' ServerGrid. Allows the user to set the number of columns in the CSS file.","author":"CompletelyUnbelievable","version":"Live","source":"https://github.com/CompletelyUnbelievable/BDAddons/edit/master/Themes/Jiiks","website":"https://git.io/vhWjm"}*//
@import url("https://completelyunbelievable.github.io/BDAddons/Themes/Jiiks/Import/VariableServerGrid.css");

:root {
	--columns: 2; /*2*/
	--spacer: 0px; /*0px*/
	--indicatorcolor: #7289da; /*#7289da*/
	--alertscolor: #f04747; /*#f04747*/
	--guildiconw: 1; /*1*/
	--guildiconh: 1; /*1*/
	--nocollapsiblegrid: 1; /*1*/
	//--guildborderradius: 25px; /*50% or 25px, broken for now.*/
}
