//META{"name":"TransparencyQuick","description":"A theme to easily allow for a background image. Works in dark and light themes.","author":"CompletelyUnbelievable","version":"1.1","source":"https://github.com/CompletelyUnbelievable/BDAddons/edit/master/Themes/TransparencyQuick","website":"https://git.io/vhWjm"}*//
@import url("https://completelyunbelievable.github.io/BDAddons/Themes/TransparencyQuick/Import/TransparencyQuick.css");
@import url("https://completelyunbelievable.github.io/BDAddons/Themes/TransparencyQuick/Import/Builder/Legacy.css");

:root {
	/*If you want to use an image as a background then:
	1. The link to the image must contain 'https://' at the beginning.
	2. The link must be a direct link to the image, ends in '.jpg', .png, etc.
	3. The link must be encapsulated by 'url()' in order to work
	Example: url(https://i.imgur.com/PnSeZX3r.jpg)*/
	
	--TQDarkBackground: transparent; /*changes the background of the window in discord's dark theme*/
	--TQLightBackground: transparent; /*changes the background of the window in discord's light theme*/
	
	--TQdim: rgba(79,84,92,0.5); /*Makes the background darker, and can prevent a user from clicking through the window with the transparency patcher and a transparent background color.*/
	--TQcardDim: rgba(79,84,92,0.5); /*Some elements look bad with just a transparent background, this color will be used instead.*/
	--TQDarkTitlebarColor: #202225; /*Title bar while using discord's dark theme, mileage may vary on Mac/Linux.*/
	--TQLightTitlebarColor: #202225; /*Title bar while using discord's light theme, mileage may vary on Mac/Linux.*/
	--TQFallbackColor: #202225; /*A solid color to use if the background variables are not properly set.*/
	--TQBackgroundFill: cover; /*'cover' fits an image to the window without stretching it, but 'fill' will stretch/warp the image to ensure the image is completely viewable.*/
}
